body {
    background-color: $bg-color;
    color: $text-color-dark;
    font-family: $base-font-family;
    font-size: 100%; // 16px
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
}
h1      { font-size: 2em;       /* 2*16 = 32 */         }
h2      { font-size: 1.5em;     /* 1.5*16 = 24 */       }
h3      { font-size: 1.17em;    /* 1.17*16 = 18.72 */   }
h4      { font-size: 1em;       /* 1*16 = 16 */         }
h5      { font-size: 0.83em;    /* 0.83*16 = 13.28 */   }
h6      { font-size: 0.75em;    /* 0.75*16 = 12 */      }

.tagline {
    font-size: .9rem;
    display: block;
    color: $delta-blue;
}

p {
    line-height: 1.5;
    margin: 0 0 1em;
}

a {
    color: lighten($delta-blue, 35%);
    text-decoration: none;

    &:hover { text-decoration: underline; }
}

strong { font-weight: bold; }
em { font-style: italic; }

button,
[type=button],
[type=reset],
[type=submit],
.btn {
    display: inline-block;
    margin: 0;
    padding: .5rem 1rem;
    border: none;
    border-radius: $default-border-radius;
    text-align: center;
    font-size: .9rem;
    font-weight: $bold;
    text-decoration: none;
    color: $button-text-color;
    background: $button-bg-color;
    background-image: $button-gradient;
    cursor: pointer;
    transition: background $default-transition-length;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    &:hover,
    &:focus {
        text-decoration: none;
        background: lighten($button-bg-color, 0%);
        background-image: lighten($button-bg-color, 0%);
    }
}

input[type=text],
input[type=password],
textarea {
    padding: .5rem;
    border: 1px solid #ccc;
    color: lighten($text-color-dark, 15%);
    background-color: #fff;
    outline: none;
    transition: border-color $default-transition-length;

    &:focus {
        border-color: $delta-blue;
        color: $text-color-dark;
    }
}

small {
    font-size: .8rem;
}