$bg-color: #fff;
$delta-blue: #11172b;
$delta-red: #e01933;

$bold: 600;

$text-color-dark: #333;
$text-color-light: #fff;

$link-color-dark: $delta-blue;
$link-color-light: #fff;

$base-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Lato', sans-serif;

$button-bg-color: $delta-red;
$button-text-color: #fff;
$default-border-radius: .2em;
$button-gradient: linear-gradient(to bottom right, $delta-red, adjust-hue($delta-blue, 50%));

$default-transition-length: 125ms;

$site-max-width: 960px;

$header-bg-color: $delta-blue;

$footer-bg-color: $delta-blue;
