.site-header {
    background-color: $header-bg-color;
    color: $text-color-light;
    padding: 1em;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header a {
    color: $text-color-light;
    text-decoration: none;
    transition: color $default-transition-length/2;

    &:hover { color: lighten($delta-blue, 60%); }
}

.site-logo {
    & h1 { font-size: 1.3rem; }
    & i { margin-left: .5em; }
}

@import "./components/auth_links";
