.announcement {
    overflow: auto;
    max-height: 100%;
    font-size: .9rem;
    font-weight: $bold;
    color: #fff;
    background-color: $delta-red;
    transition: max-height $default-transition-length;

    &.closed {
        max-height: 0;
        overflow: hidden;
    }

    & > .inner {
        padding: 1em;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    & a {
        color: #fff;

        &:hover {
            color: #ccc;
            text-decoration: none;
        }
    }

    & i { margin: 0 .5em; }

    & p { margin: 0; }
}