.auth-links {

    & ul {
        display: flex;
        align-items: center;
    }

    li { margin: 0 .5em; }

    a {
        font-weight: $bold;
        text-transform: uppercase;
        font-size: .8rem;
    }
}

.user-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #ddd;
    border-radius: 50%;
    font-weight: bold;
    color: $delta-blue;
    text-transform: uppercase;
}