.splash-banner {
    background-color: $delta-blue;
    background-image: image-url('nasa-horiz.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .splash-banner-content {
        padding: 4em 2em;
        color: $text-color-light;
        background: rgba($delta-blue, 0.6);

        @media (min-width: 685px) {
            padding: 8em 4em;
        }
    }

    & h1 {
        margin-bottom: .25em;
        font-size: 2.2rem;
        line-height: 1.25;

        @media (min-width: 685px) {
            margin-bottom: 0;
            font-size: 3.5em;
        }
    }

    & p { margin-bottom: 2em; }

    & .btn {
        padding: .5em 1em;
        font-size: 1.2rem;
    }
}

.banner-cta {
    $banner-cta-breakpoint: 550px;
    $cta-bg-color: #333;
    color: #fff;

    @media (min-width: $banner-cta-breakpoint) {
        & ul { display: flex; }
        & li { flex: 1; }
    }

    & a {
        display: block;
        text-align: center;
        color: #fff; 
        background-color: $cta-bg-color;
        padding: 1rem;
        font-size: 1.1rem;

        @media (min-width: $banner-cta-breakpoint) {
            padding: 2rem;
            font-size: 1.2rem;
        }

        &:hover {
            text-decoration: none;
            background-color: lighten($cta-bg-color, 5%);
        }
    }

    & i {
        margin-left: .25rem;
    }
}